<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="./javascript/angular.min.js"></script>
    <script type="text/javascript" src="./javascript/app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as narrow">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <div style="height: 35px; margin-bottom: 10px; display: block; position: relative;">
      <div class="form-group">
        <input ng-model="narrow.searchTerm" type="text" class="form-control">
      </div>

      <div class="form-group narrow-button">
        <button class="btn btn-primary" ng-click="narrow.updateFilterItems(narrow.searchTerm)">Narrow It Down For Me!</button>
      </div>
    </div>
    <br />
    <p ng-if="narrow.lastRemoved">
      The last removed item was: {{ narrow.lastRemoved }}
    </p>
    <br />
    <!-- found-items should be implemented as a component -->

    <found-items on-remove="narrow.removeItem(index)" my-found="narrow"></found-items>
  </div>

</body>
</html>
